*.swp
*.acn
*.bbl
*.blg
*.bcf
*.glo
*.ist
*.log
*.out
*.run.xml
*.synctex.gz
*.thm
*.toc
*.aux
*.lof
*.lot
*.DS_Store
*.idx
*.nlo
*.hd
zhmakeindex
__latexindent_temp_nwputhesis.cls
*.synctex(busy)
*.xdv
*.fls
*.fdb_latexmk
## test files:
build/
